.container {
  margin: 20px auto;
  margin-top:20px;
  width: 900px;
  padding:20px;
  border-radius:5px;
  line-height:25px;

}
th {
  text-align: left;
}

header {
  background-color:black;
  width:100%;
  height:50px;
  color:white;
  line-height:25px;
  /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #474747 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #474747 0%, #000000 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #474747 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #474747), color-stop(1, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #474747 0%, #000000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #474747 0%, #000000 100%);
}

header a {
  text-decoration:none;
  color:white;
  padding:10px 0px;
  float:right;
  padding-left:20px;

}

header a:hover {
  color:green;
}

#logo {
  float:left;
  font-size:30px;
  letter-spacing:1.5px;
  color:#e8e8e8;
  text-shadow:0px 0px 2px #e8e8e8;
  padding-left:0px;
}

body {
  background-color:white;
  font-family:sans-serif;
  color:#474747;
}

.container > a {
  text-decoration:none;
  color:grey;
  letter-spacing:1.5px;
  font-weight:bold;
}

.container > a:hover {
  color:green;
}

.container > h1 {
  color:green;
  text-shadow:0px 0px 10px #e8e8e8;
  letter-spacing:2px;
}


#content ol,ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;

}

#content input {
  margin-right:10px;
}

table {
  background-color:white;
}

table tr {
  background-color:#a0a0a0;
  color:#474747;


}

table tr:nth-child(odd) {
  background-color:#c8c8c8;
  color:#474747;

}

table th {
  background-color:white;
  color:#474747;
  padding:20px 0px ;
}

table td {
  padding:5px;
  width:300px;
}

#log_in {
 position:absolute;
 background-color:Black;
 top:50px;
 right:100px;
 padding:20px;
display:none;
}

#log_in input {
  float:left;
  margin-right:20px;
}

#sign_up {
  line-height:40px;
  background-color:black;
  padding:20px;
}

#sign_up input {
  padding:5px 10px;
  color:green;
}

#content {
  width:100%;
  height:auto;
  background-color:white;
  padding:20px;
  border-radius:5px;
  box-shadow:0px 0px 20px grey;
  position:relative;
}

#content a{
  text-decoration:none;
  color:green;
  font-size:23px;
}

#content ul {
  line-height:30px;

}

#big_number {
  font-size:100px;
padding:35px;
  display:inline-block;
  color:green;
  font-weight:400;
  background-color:white;
  border-radius:5px;
  padding-bottom:10px;
}

#survey_list {
  width:500px;
}

#survey_list li:nth-child(odd) {
  background-color:#e8e8e8;
}



#survey_list li:nth-child(even) {
  background-color:#e0e0e0;
}

.sub_data{
  padding: 5px;
  border-right: 1px dotted green;
  font-size: 12px;
}

#back_to_surveys {
  position:absolute;
  bottom:10px;
  right:10px;
}

.alex_ads{
 /*background-image:url('imgres.html');*/
  background-image:url('http://www.colourbox.com/preview/2788642-357871-fried-chicken-legs-as-very-nice-food-background.jpg');
}

.alex_ads h1{
  text-align: center;
  color: white;
  padding: 20px;
  text-shadow:0px 0px 2px red;
}

.alex_ads h3{
  text-align: center;
  color: white;
  padding: 20px;
  text-shadow:0px 0px 2px red;
}

#chicken > a:link{

 text-align: center;
  color: white;
  padding: 20px;
  text-shadow:0px 0px 2px red;
  }

#chicken > a:visited{

 text-align: center;
  color: white;
  padding: 20px;
  text-shadow:0px 0px 2px red;
  }

.alex_ads img{
   display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px; 
}

.alex_chicken h1{
t
}

