
<div class="alex_ads">
  <h1>Get your chicken from Alex!</h1>

  <img src="https://secure.gravatar.com/avatar/033d8bb578303f85b9297acd10ab8320.png?r=PG&d=mm&s=150" />
  
    <h3>Alex's Chicken is the best chicken in the world!<br><a id="chicken" href='/alex_chicken'>Come on down to try it out!</a></h3>

</div>

<a id="go_away" href="/create_new_survey">GO AWAY, ALEX!</a>
