<body background="http://www.colourbox.com/preview/2788642-357871-fried-chicken-legs-as-very-nice-food-background.jpg">
<div class="alex_chicken" >

  <h1 style="color:white;text-align:center;text-shadow:0px 0px 2px red;">Get your chicken from Alex!</h1>

  <img style="align:center;"src="https://secure.gravatar.com/avatar/033d8bb578303f85b9297acd10ab8320.png?r=PG&d=mm&s=150" />
  
  <h3>Alex's Chicken is the best chicken in the world!<br><a id="sexy_alex" href='/alex_chicken'>Come on down to try it out!</a></h3>

</div>
</body>
