\<div class="container" >
 
  <h1>Create Survey</h1>
    
    <h3>Survey Title</h3>
    <form action="/create_new_survey" method="post" >
      <input name="title"type="text" placeholder ="Survey Title" /><br/>
      <input type="submit" />
    </form>
</div>
