<div class="container">
  <h1>You just created....</h1>
  <div id="content">

 <h2> <%= @survey.name %></h2>
  <ol>

 <% @survey.questions.each do |x| %>
 <span style="color:green" ><li><%= x.content %></li></span>
    <ul style="list-style-type:none;margin:0px;padding:0px">
 <% x.choices.each do |y| %>
 <li><%= y.answer %></li>
 <% end %>
</ul>
 <% end %>
</ol>
</div>
</div>
