<div class="container">
  <h2>New Question for <%= @title %></h2>
  <form action = "/add_question" id="question" method="post">
   <input type="text" name="question" placeholder="Question..."><br/>
   <input type="text" name="choice1" placeholder="Option 1"><br/>
   <input type="text" name="choice2" placeholder = "Option 2"><br/>
   <input type="text" name="choice3" placeholder = "Option 3"><br/>
   <input type="text" name="survey_id" style="display:none" value="<%= @survey.id %>"/>
   <input type="submit" /><a href="/finished_survey/<%=@survey.id %>">I'm done</a>
  </form>
</div>
