<div class="container">
  <h1>Welcome to Survey Beast!</h1>


  <form id="login" action="/login" method="post">
    <input type="text" name="name" placeholder="Your name"><br>
    <input type="email" name="email" placeholder="Your email"><br>
    <input type="password" name="password" placeholder="Your password"><br>
  </form>
</div>  
