<div class="container">
<h1>Welcome back, <%= @user.name %></h1>
<h3>Take a survey...</h3>
<div id="content" >
  <ul>
<% @all_surveys.each do |x| %>
<li><a href="/take_survey/<%= x.id %>"><%= x.name %></a><br/></li>
<% end %> 
</ul>
</div>
</div>
